---
import GitHub from "../icons/Github.astro";
import Java from "../icons/Java.astro";
import LinkButton from "../components/LinkButton.astro";
import JavaFX from "../icons/JavaFX.astro";

const TAGS = {
  NEXT: {
    name: "Java",
    class: "bg-black text-white",
    icon: Java,
  },
  JAVAFX: {
    name: "Scene Builder",
    class: "bg-black text-white",
    icon: JavaFX,
  },
};
const PROJECTS = [
  {
    title: "Software Examen de Admisión",
    description:
      "Utiliza un algoritmo de búsqueda para encontrar coincidencias entre las respuestas de los alumnos y las claves correctas de las preguntas, generando un informe detallado de los resultados obtenidos por cada alumno y su respectivo puntaje.",
    link: "",
    github: "https://github.com/Gustav0C/Software-Examen-Admision--Java-",
    image: "proyect1.webp",
    tags: [TAGS.NEXT, TAGS.JAVAFX],
  },
  {
    title: "Generador de Exámenes",
    description:
      "Genera exámenes de admisión basando en un plantilla cargada en el sistema, permite agregar preguntas y respuestas, reordenarlas y exportar el examen en formato PDF.",
    link: "",
    github: "https://github.com/Gustav0C/Generador-de-Examenes--Java-",
    image: "proyect2.webp",
    tags: [TAGS.NEXT, TAGS.JAVAFX],
  },
];
---

<div class="flex flex-col gap-y-8 sm:gap-y-16">
  <h3 class="text-center font-extrabold text-xl sm:text-2xl">Proyectos</h3>
  {
    PROJECTS.map(({ image, title, description, tags, github }) => (
      <article class="flex flex-col space-y-6 group md:flex-row md:space-x-8 md:space-y-0">
        <div class="w-full md:w-1/2">
          <div class="relative flex flex-col items-center gap-4 sm:gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-lg sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
            <img
              alt={`Captura de pantalla del proyecto ${title}`}
              class="object-cover object-top w-full h-48 sm:h-56 transition duration-500 md:scale-110 md:group-hover:scale-105"
              loading="lazy"
              src={image}
            />
          </div>
        </div>

        <div class="w-full md:w-1/2 md:max-w-lg px-2 sm:px-0">
          <h3 class="text-xl sm:text-2xl font-bold text-gray-100 mb-3">
            {title}
          </h3>
          <div class="flex flex-wrap mt-1 sm:mt-2">
            <ul class="flex flex-wrap gap-2 mb-3">
              {tags.map((tag) => (
                <li>
                  <span
                    class={`flex gap-x-1 rounded-full text-center items-center text-xs ${tag.class} py-1 px-2 hover:opacity-90`}
                  >
                    <tag.icon class="size-3 sm:size-4" />
                    {tag.name}
                  </span>
                </li>
              ))}
            </ul>
            <div class="mt-1 sm:mt-2 text-sm sm:text-base text-gray-400 text-left sm:text-justify">
              {description}
            </div>
            <footer class="flex items-end justify-start mt-4 sm:mt-6 gap-x-4">
              {github && (
                <LinkButton href={github}>
                  <GitHub class="size-6" />
                  Code
                </LinkButton>
              )}
            </footer>
          </div>
        </div>
      </article>
    ))
  }
</div>
